<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,322},{303,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,152}}</string>
                <key>sourceSize</key>
                <string>{303,152}</string>
            </dict>
            <key>fan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{334,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{334,168}}</string>
                <key>sourceSize</key>
                <string>{334,170}</string>
            </dict>
            <key>fan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,710},{340,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,172}}</string>
                <key>sourceSize</key>
                <string>{340,172}</string>
            </dict>
            <key>fan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,534},{344,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,174}}</string>
                <key>sourceSize</key>
                <string>{344,174}</string>
            </dict>
            <key>fan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{348,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,176}}</string>
                <key>sourceSize</key>
                <string>{348,176}</string>
            </dict>
            <key>fan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{350,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,176}}</string>
                <key>sourceSize</key>
                <string>{350,176}</string>
            </dict>
            <key>fan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{350,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{350,176}}</string>
                <key>sourceSize</key>
                <string>{350,178}</string>
            </dict>
            <key>fan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{350,176}}</string>
                <key>sourceSize</key>
                <string>{350,178}</string>
            </dict>
            <key>fan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,180},{349,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,176}}</string>
                <key>sourceSize</key>
                <string>{349,176}</string>
            </dict>
            <key>fan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,358},{347,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{347,174}}</string>
                <key>sourceSize</key>
                <string>{347,176}</string>
            </dict>
            <key>fan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{343,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,174}}</string>
                <key>sourceSize</key>
                <string>{343,174}</string>
            </dict>
            <key>fan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{293,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,148}}</string>
                <key>sourceSize</key>
                <string>{293,148}</string>
            </dict>
            <key>fan_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{339,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{339,170}}</string>
                <key>sourceSize</key>
                <string>{339,172}</string>
            </dict>
            <key>fan_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,804},{333,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,168}}</string>
                <key>sourceSize</key>
                <string>{333,168}</string>
            </dict>
            <key>fan_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,974},{327,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{327,164}}</string>
                <key>sourceSize</key>
                <string>{327,166}</string>
            </dict>
            <key>fan_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,640},{319,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,162}}</string>
                <key>sourceSize</key>
                <string>{319,162}</string>
            </dict>
            <key>fan_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,162},{311,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,158}}</string>
                <key>sourceSize</key>
                <string>{311,158}</string>
            </dict>
            <key>fan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1140},{283,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,142}}</string>
                <key>sourceSize</key>
                <string>{283,142}</string>
            </dict>
            <key>fan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1206},{278,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{278,140}}</string>
                <key>sourceSize</key>
                <string>{280,142}</string>
            </dict>
            <key>fan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{291,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{291,146}}</string>
                <key>sourceSize</key>
                <string>{291,148}</string>
            </dict>
            <key>fan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1052},{302,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,152}}</string>
                <key>sourceSize</key>
                <string>{302,152}</string>
            </dict>
            <key>fan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{312,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,158}}</string>
                <key>sourceSize</key>
                <string>{312,158}</string>
            </dict>
            <key>fan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,476},{320,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,162}}</string>
                <key>sourceSize</key>
                <string>{320,162}</string>
            </dict>
            <key>fan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,884},{328,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,166}}</string>
                <key>sourceSize</key>
                <string>{328,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fans-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e55acb44783be1a9d613ed610fec561:48430110c6d9029b56418e8716cd5cef:b1792786ef5382917bde53c705c5c3f8$</string>
            <key>textureFileName</key>
            <string>fans-hd.png</string>
        </dict>
    </dict>
</plist>
