<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{152,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,76}}</string>
                <key>sourceSize</key>
                <string>{152,76}</string>
            </dict>
            <key>fan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{167,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,85}}</string>
                <key>sourceSize</key>
                <string>{167,85}</string>
            </dict>
            <key>fan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,362},{170,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,86}}</string>
                <key>sourceSize</key>
                <string>{170,86}</string>
            </dict>
            <key>fan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,273},{172,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,87}}</string>
                <key>sourceSize</key>
                <string>{172,87}</string>
            </dict>
            <key>fan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,183},{174,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,88}}</string>
                <key>sourceSize</key>
                <string>{174,88}</string>
            </dict>
            <key>fan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,93},{175,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,88}}</string>
                <key>sourceSize</key>
                <string>{175,88}</string>
            </dict>
            <key>fan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{175,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,89}}</string>
                <key>sourceSize</key>
                <string>{175,89}</string>
            </dict>
            <key>fan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,89}}</string>
                <key>sourceSize</key>
                <string>{175,89}</string>
            </dict>
            <key>fan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{175,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,88}}</string>
                <key>sourceSize</key>
                <string>{175,88}</string>
            </dict>
            <key>fan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{174,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,88}}</string>
                <key>sourceSize</key>
                <string>{174,88}</string>
            </dict>
            <key>fan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{172,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,87}}</string>
                <key>sourceSize</key>
                <string>{172,87}</string>
            </dict>
            <key>fan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,158},{147,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,74}}</string>
                <key>sourceSize</key>
                <string>{147,74}</string>
            </dict>
            <key>fan_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{170,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,86}}</string>
                <key>sourceSize</key>
                <string>{170,86}</string>
            </dict>
            <key>fan_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,450},{167,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,84}}</string>
                <key>sourceSize</key>
                <string>{167,84}</string>
            </dict>
            <key>fan_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,483},{164,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,83}}</string>
                <key>sourceSize</key>
                <string>{164,83}</string>
            </dict>
            <key>fan_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,536},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,81}}</string>
                <key>sourceSize</key>
                <string>{160,81}</string>
            </dict>
            <key>fan_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{156,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,79}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>fan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,568},{142,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,71}}</string>
                <key>sourceSize</key>
                <string>{142,71}</string>
            </dict>
            <key>fan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,619},{140,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,71}}</string>
                <key>sourceSize</key>
                <string>{140,71}</string>
            </dict>
            <key>fan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{146,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,74}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>fan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,80},{151,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,76}}</string>
                <key>sourceSize</key>
                <string>{151,76}</string>
            </dict>
            <key>fan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,234},{156,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,79}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>fan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,315},{160,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,81}}</string>
                <key>sourceSize</key>
                <string>{160,81}</string>
            </dict>
            <key>fan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,398},{164,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,83}}</string>
                <key>sourceSize</key>
                <string>{164,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fans.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e55acb44783be1a9d613ed610fec561:48430110c6d9029b56418e8716cd5cef:b1792786ef5382917bde53c705c5c3f8$</string>
            <key>textureFileName</key>
            <string>fans.png</string>
        </dict>
    </dict>
</plist>
