<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>poof_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{46,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,44}}</string>
			<key>sourceSize</key>
			<string>{46,44}</string>
		</dict>
		<key>poof_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,97},{86,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,82}}</string>
			<key>sourceSize</key>
			<string>{86,82}</string>
		</dict>
		<key>poof_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,95},{95,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,91}}</string>
			<key>sourceSize</key>
			<string>{95,91}</string>
		</dict>
		<key>poof_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{95,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,93}}</string>
			<key>sourceSize</key>
			<string>{95,93}</string>
		</dict>
		<key>poof_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,2},{95,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,91}}</string>
			<key>sourceSize</key>
			<string>{95,91}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>poof-hd.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ebc8879f5351aec879d0718270d12cae$</string>
		<key>textureFileName</key>
		<string>poof-hd.png</string>
	</dict>
</dict>
</plist>
